<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>guideXOS Web</title>
    <link rel="stylesheet" href="/css/desktop.css" />
</head>
<body>
    @RenderBody()
    <script src="/js/desktop.js"></script>
</body>
</html>
