@page 
@model guideXOS.Web.Pages.Desktop.IndexModel
<div class="desktop" id="desktop">
  <div class="taskbar" id="taskbar">
    <div class="start" id="startBtn">Start</div>
    <div class="clock" id="clock"></div>
  </div>
  <div class="startmenu" id="startMenu">
    <div class="menu-item" data-app="notepad">Notepad</div>
    <div class="menu-item" data-app="files">File Manager</div>
    <div class="menu-item" id="logoutBtn">Logout</div>
  </div>
  <div class="icons" id="desktopIcons"></div>
  <div class="window notepad" id="win-notepad">
    <div class="titlebar"><span>Notepad</span><div class="title-buttons"><button data-close>æ</button></div></div>
    <div class="content">
      <div class="toolbar"><input id="np-path" placeholder="/notes.txt"><button id="np-open">Open</button><button id="np-save">Save</button></div>
      <textarea id="np-text"></textarea>
    </div>
  </div>
  <div class="window files" id="win-files">
    <div class="titlebar"><span>File Manager</span><div class="title-buttons"><button data-close>æ</button></div></div>
    <div class="content">
      <div class="toolbar"><input id="fm-path" value="/"/><button id="fm-refresh">Refresh</button></div>
      <ul id="fm-list"></ul>
    </div>
  </div>
</div>
