<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="GuideXOSDb"
			 connectionString="Server=(localdb)\GuideXOSDb;Database=GuideXOSDb;Trusted_Connection=True;MultipleActiveResultSets=true"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>